 .hero{
     button{
        color: #e95420;
        background-color: #fff;
        background-image: none;
        border-color: #e95420;
     }
//     width: 100%;
//     height: auto;
//     h2{
//         font-size: 2rem;
//     }
//     p{
//         font-size: 1.25rem;
//     }
//     button{
//         width: 80px;
//         height: 50px;
//         color: #fff;
//         background-color: #e95420;
//         border-color: #e95420;
//     }

 }